
.jobList{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}


.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 80vw;
    margin-top: 200px;
}

.filters{
    width: 20vw;
    min-height: 20vh;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list{
    width: 55vw;
    min-height: 20vh;
    display: flex;
    flex-direction: column !important;
    align-items: center;
   
}

.filter_box{
    width: 18vw;
    border: 1px solid #cecece;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filter_box_header{
    height: 60px;
    width: inherit;
    background: #0C222C;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter_box_list{
    width: 80%;
}

.filter_box_item{
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5vh;
}

.filter_box_viewall{
    padding: 0px 30px 20px 30px;
}

.filter_box_list input{
    margin: 0vh 1vh;
}

.list_search{
    width: 53vw;
    height: 100px;
    border: 1px solid #cecece;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}

.list_search_box{
    border: 1px solid #cecece;
    height: 50px;
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.list_search_box input{
    height: inherit;
    width: calc(25vw - 40px);
    padding: 00px 20px;
    border: none;
}

.list_search_box button{
    height: inherit;
    width: 5vw;
    color: #0C222C;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.list_search select{
    border: 1px solid #cecece;
    height: 50px;
    width: 10vw;
    min-width: 120px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.list_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(56vw - 60px);
    padding: 0px 30px;
    min-height: 20vh;
    border: 1px solid #cecece;
    margin-top: 1vw;
    border-radius: 5px;
    cursor: pointer;
}

.list_item .list_item_info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    min-height: 20vh;
}

.list_item .list_item_info .info{
    font-size: 24px;
    margin-top: -10px;
    margin-left: 30px;
}

.list_item .list_item_info img{
    margin-left: 0px;
    height: 80px;
    width: 100px;
    object-fit: contain;
}

.list_item .list_item_info .info div{
    margin-bottom: -10px
}

.list-item .list_item_info .info div font{
    font-size: 14px;

}

.item_details{
    height: 15vh;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
    
}

.item_details div{
    border: 1px solid #0C222C;
    border-radius: 50px;
    padding: 10px 20px;
    min-width: 60%;
    
}

.filter-box-list{
    width: 80%;
}

.currency{
    padding: 5px 0px;
}



@media (max-width:900px) {

    .mainContainer{
        display: flex;
        flex-direction: column;
        width: 80vw;
        margin-top: 100px;
    }    
    .list{
        width: 80vw;
       
    }
    .filter_box{
        width: 100%;
    }
    .filters{
        width: 80vw;
        display: none;
    }
    .list_search{
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        border: none;
        gap: 0px;
        height: auto !important;
    }
    .list_search_box{
        width: 100%;
    }
    .list_search_box > input{
        width: 80%;
    }
    .list_search select{
        padding-left: -10px;
        margin-left: 0px;
    }
    .list_item{
        width: 90vw;
        padding: 30px;
    }
    .list_item_info{
        
        width: 70%;
        display: flex;
        flex-direction: column !important;
        align-items: flex-start;
        width: 50%;
        justify-self: flex-start;
        
    }
    .list_item_info > img{
        width: 110px !important;
        align-self: flex-start;
        margin-top: -30px;
    }
    .info{
        width: 120%;
        min-width: 100px;
       
       
        margin-top: -25px !important;
    }
    .info > font{
        font-size: 16px;
    }
    .item_details{
        width: 40%;
        
    }
    .job_type,.apply{
        border: 1px solid black;
        border-radius: 10px !important;
        width: 130px;
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;
        overflow: hidden;
        
    }
    .currency{
        
        font-size: 14px;
    }
}
