.signup{
	display: flex;
	justify-content: center;
	flex-direction: column !important;
	max-width: 100vw !important;
}

#otp{
	width: 50px;
	height: 50px;
	padding: 0px 20px 0px 15px;
	font-weight: bold;
	font-size: 20px;
}
.signup .wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.signup .container{
	margin-top: 100px;
    min-height: 100vh;
    display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
	height: 1000px !important;
	
}

.signup .account-type-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.account-type{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 190px;
	margin: 30px 0px;
	border: 1px solid #0C222C;
	transition: all 0.5s;
	cursor: pointer;
}
#complete{
	font-weight: bold;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 250px;
	height: 250px;
	border-radius: 50%;

}
@media(min-width:650px)
{
	.border{
	
		height: 110vh;
		max-height: fit-content;
		width: 60vw;
		padding: 0;
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		
		border: .5px solid rgb(206, 206, 206);
	}
}


.border .img{
	flex: 1;
    /* margin-right: 50px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #BDC7CB;
    height: 100%;
}

.border .img .btn1{
    position: absolute;
    top: 50px;
    left: 150px;
    display: flex;
    flex-direction: column;

}

.border .img .btn1 button{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 15px;
	margin: 4px;
	border: none;
	color: white;
	border-radius: 30px;

	background-image: linear-gradient(to right, #0C222C, #183e51, #0C222C);
	background-size: 200%;
	cursor: pointer;
	transition: .5s;
}

.border .img .btn1 button:hover{
background-position: right;
}

.border .img .btn1 button span{
	margin-right: 10px;
}

.signup .img img{
	width: 30vw;
	height: 50vh;
	padding: auto 0 0 0 ;

}

.signup .login-content{
    flex: 1;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	text-align: center;
	/* padding-right: 50px; */
}

.login-content form{
	width: 80%;
}


/* .signup form{
	 width: 360px; 
} */

.signup .login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2rem;
}

.signup .login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 40px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

/* .signup .login-content .input-div.one{
	margin-top: 0;
} */

.signup .i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.signup .i i{
	transition: .3s;
}

.signup .input-div > div{
    position: relative;
	height: 45px;
}

.signup .input-div > div > h5{
	position: absolute;
	left: 10px;
	top: -20%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.signup .input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #8d8d8d;
	transition: .4s;
}

.signup .input-div:before{
	right: 50%;
}

.signup .input-div:after{
	left: 50%;
}

.signup .input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.signup .input-div.focus > div > h5{
	top: -25px;
	font-size: 15px;
}

.signup .input-div.focus > .i > i{
	color: #6d6d6d;
}

.signup .input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

/* .signup .input-div.pass{
	margin-bottom: 4px;
} */

.signup a{
	display: block;
	text-align: center;
	text-decoration: none;
    margin-top: 10px;
	color: #999;
	font-size: 0.9rem;
}

.signup a:hover{
	color: #393939;
	font-weight: 500;
}

.signup .btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #0C222C, #183e51, #0C222C);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.signup .btn:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.signup .container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	.signup form{
		width: 290px;
	}

	.signup .login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.signup .img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.account-type-container{
		margin: -10vh 0px;
	}
	.signup .container{
		grid-template-columns: 1fr;
		min-height:40vh;
		height: 80vh !important;

	}
	.border{
		height: fit-content;
	}
	.signup .img{
		display: none;
	}

	.signup .wave{
		display: none;
	}

	.signup .login-content{
		justify-content: center;
	}
}