#info {
    position: relative;
    margin-top: 0px;
  padding-top: 190px;
  height: 480px;
  display: flex;
  flex: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  }
  @media(min-width: 600px)
  {
    .form-check-label{
      margin-left: 80px !important;
    }
    
  }
  @media(max-width: 500px)
  {
    .image{
      margin-top: 50px !important;
    }
    .comp{
      font-size: 13px !important;
    }
    
  }
  